<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="..."/>
  </connectionStrings>
  <appSettings>
    <add key="BasisURL" value="https://localhost:44383/api/v1/"/>
    <add key="CoinMarketCapURL" value="https://pro-api.coinmarketcap.com/v1/"/>
    <add key="CoinMarketCapAPIKey" value="914b837d-f6d2-41a0-84b8-ef55c1a62186"/>
  </appSettings>
</configuration>